nav {
  margin-top: 20px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: #00ff00;
  font-family: Courier New, Arial, sans-serif;
}

a:hover {
  color: #009900;
}

.links {
  float: right;
}
